<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="../favicon.gif" type="image/x-icon">

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="feed.xml">

<link rel="stylesheet" type="text/css" href="../templates/default/style/default.css">

<title>$PAGE_TITLE</title>

</head>

<body>

<header>
	<h1>Website</h1>
	<nav>
		<ul>
			<li><a href="../">[home]</a></li>
			<li><a href="../archive.html">[archive]</a></li>
			<li><a class="selected" href="about.html">[about]</a></li>
		</ul>
	</nav>
</header>

<section id="page_content">
	$PAGE_CONTENT
</section>

<section id="sidebar">
	<h2>links</h2>
	<ul>
		<li><a href="http://subdimension.co.uk/pages/projects.html">subDimension.co.uk</a></li>
	</ul>
</section>

<footer>copyright 2011</footer>

</body>
</html>